:root {
    --base-object-width: 1100px;
    --base-box-width: 400px;
    --base-object-max-width: 95%;
    --base-color: #E41655;
    --base-font-color: white;
    --base-box-padding: 10px;
    --base-border-radius: 10px;
    --margin-mid: 50px;
    --margin-sm: 25px;
    --margin-s: 12px;
    --margin-xs: 5px;
    --min-box-width: 370px;
    --base-position-flex: flex;
    --base-shadow: 0 10px 24px 1px rgba(228,22,85,.3);
    --base-wrap-default: wrap;

}

.home-header {
    width: var(--base-object-width);
    max-width: var(--base-object-max-width);
    margin-top: var(--margin-sm);
}

.island {
    background-color: var(--base-color);
    border-radius: var(--base-border-radius);
    width: var(--min-box-width);
    color: var(--base-font-color);
    padding: var(--base-box-padding);
    text-align: justify;
    margin-bottom: var(--margin-sm);
    margin-top: var(--margin-sm);
    box-shadow: var(--base-shadow);
}

.image {
    object-fit: cover;
    border-radius: var(--base-border-radius);
}

.image-m {
    margin-left: var(--margin-sm);
    margin-right: var(--margin-sm);
    width: 350px;
    height: 350px;
}

.image-s {
    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs);
    width: 70px;
    height: 70px;
}

.image-xs {
    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs);
    width: 35px;
    height: 35px;
}

.intro {
    width: var(--base-object-width);
    max-width: var(--base-object-max-width);
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
    flex-wrap: var(--base-wrap-default);
    justify-content: var(--spaced-position-flex-horizontal);
    margin-top: var(--margin-mid);
    margin-bottom: var(--margin-mid);
}

.intro article {
    display: var(--base-position-flex);
    flex-direction: var(--base-position-direction);
    align-items: var(--base-position-flex-vertical);
}

.dialog-translucent {
    width: var(--base-box-width);
    max-width: var(--base-object-max-width);
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
    flex-wrap: var(--base-wrap-default);
    justify-content: var(--base-position-flex-vertical);
    padding: var(--base-box-padding);
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: var(--base-border-radius);
    backdrop-filter: blur(3px);
}

.full-height-center {
    height: var(--base-home-width);
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
}

.dialog-message {
    position: fixed;
    width: 200px;
    min-height: 30px;
    bottom: 25px;
    right: 25px;
    font-size: 0.8rem;
    border-radius: var(--base-border-radius);
    padding: var(--base-box-padding);
    animation: show-hide 5s ease-in-out;
    animation-fill-mode: forwards;
}

.dialog-message p {
    max-width: 165px;
}

.info-colored {
    border: 1px solid #575EFF;
    background-color: #c9cbff;
    color: #575EFF;
}

.error-colored {
    border: 1px solid #c52c45;
    background-color: #f1b2be;
    color: #c52c45;
}
.success-colored {
    border: 1px solid #077409;
    background-color: #c1ffc1;
    color: #077409;
}

