:root {
    --base-object-width: 1100px;
    --base-box-width: 400px;
    --base-object-max-width: 95%;
    --base-color: #E41655;
    --base-font-color: white;
    --base-box-padding: 10px;
    --base-border-radius: 10px;
    --margin-mid: 50px;
    --margin-sm: 25px;
    --margin-s: 12px;
    --margin-xs: 5px;
    --min-box-width: 370px;
    --base-position-flex: flex;
    --base-shadow: 0 10px 24px 1px rgba(228, 22, 85, .3);
    --base-wrap-default: wrap;

}

.home-header {
    width: var(--base-object-width);
    max-width: var(--base-object-max-width);
    margin-top: var(--margin-sm);
}

.home-header li {
    border: unset;
}

.home-header li:hover {
    border: unset;
}

.island {
    background-color: var(--base-color);
    border-radius: var(--base-border-radius);
    width: var(--min-box-width);
    color: var(--base-font-color);
    padding: var(--base-box-padding);
    text-align: justify;
    margin-bottom: var(--margin-sm);
    margin-top: var(--margin-sm);
    box-shadow: var(--base-shadow);
}

.image {
    object-fit: cover;
    border-radius: var(--base-border-radius);
}

.image-m {
    margin-left: var(--margin-sm);
    margin-right: var(--margin-sm);
    width: 350px;
    height: 350px;
}

.image-s {
    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs);
    width: 70px;
    height: 70px;
}

.image-s-m {
    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs);
    width: 50px;
    height: 50px;
}

.image-xs {
    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs);
    width: 35px;
    height: 35px;
}

.intro {
    width: var(--base-object-width);
    max-width: var(--base-object-max-width);
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
    flex-wrap: var(--base-wrap-default);
    justify-content: var(--spaced-position-flex-horizontal);
    margin-top: var(--margin-mid);
    margin-bottom: var(--margin-mid);
}

.intro article {
    display: var(--base-position-flex);
    flex-direction: var(--base-position-direction);
    align-items: var(--base-position-flex-vertical);
}

.dialog-translucent {
    width: var(--base-box-width);
    max-width: var(--base-object-max-width);
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
    flex-wrap: var(--base-wrap-default);
    justify-content: var(--base-position-flex-vertical);
    padding: var(--base-box-padding);
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: var(--base-border-radius);
    backdrop-filter: blur(3px);
}

.full-height-center {
    height: var(--base-home-width);
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
}

.dialog-message {
    position: fixed;
    width: 200px;
    min-height: 30px;
    bottom: 25px;
    right: 25px;
    font-size: 0.8rem;
    border-radius: var(--base-border-radius);
    padding: var(--base-box-padding);
    animation: show-hide 5s ease-in-out;
    animation-fill-mode: forwards;
}

.dialog-message p {
    max-width: 165px;
}

.info-colored {
    border: 1px solid #575EFF;
    background-color: #c9cbff;
    color: #575EFF;
}

.error-colored {
    border: 1px solid #c52c45;
    background-color: #f1b2be;
    color: #c52c45;
}

.success-colored {
    border: 1px solid #077409;
    background-color: #c1ffc1;
    color: #077409;
}

.document-parent {
    height: 90vh;
    width: 850px;
    margin: 0 auto;
    max-width: 95%;
    overflow: scroll;
    background-color: var(--dnevnik-windows-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: var(--base-border-radius);
}

.document-page {
    width: 95%;
    margin-block: 10px;
}

.class-info {
    background-color: var(--dnevnik-windows-bg);
    padding: var(--base-box-padding);
    color: white;
    border-radius: var(--base-border-radius);
    width: 100%;
    margin: 0 auto;
    margin-block: 20px;
    display: var(--base-position-flex);
    flex-direction: column;
    box-sizing: border-box;
}

.bordered-block {
    background-color: var(--dnevnik-windows-bg);
    padding: var(--base-box-padding);
    color: white;
    border-radius: var(--base-border-radius);
    width: 80px;
    display: var(--base-position-flex);
    justify-content: space-around;
}

.colored_bg {
    background-color: var(--dnevnik-windows-bg);
}

.width_grided {
    width: 430px;
    max-width: 100%;
    height: 450px;
}

.terracota_bg {
    background-color: #F59056;
    border: 2px solid #F59056;
    box-shadow: 0 10px 24px 1px rgba(245, 144, 86, 0.3);
}

.terracota_bg:hover {
    color: #F59056;
    background-color: transparent;
    border: 2px solid #F59056;
}

.calendar-month {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: var(--dnevnik-windows-bg);
    min-height: 80vh;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
}

.calendar-day {
    width: 14.3%;
    border-radius: 5px;
    border: 2px solid rgba(228, 22, 85, 0.43);
    color: white;
    cursor: pointer;
    margin-block: 10px;
    padding-top: 5px;
    height: 150px;
}

.hover-colored:hover {
    color: #E41655;
    transition: 0.2s ease;
}

.dayClass {
    background-color: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(2px);
    padding: 4px;
    border-radius: 3px;
    box-sizing: border-box;
}

.empty-history-block {
    width: 350px;
    background-color: var(--dnevnik-windows-bg);
    border-radius: var(--base-border-radius);
    padding: var(--base-box-padding);
    font-size: 1.5rem;
    color: var(--base-font-color);
    margin: 0 auto;
    margin-block: 15px;
    display: var(--base-position-flex);
}

.inbox-pupil-list {
    margin-block: 15px;
    height: 65px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 0 -16px 8px -13px rgba(0, 0, 0, 0.45) inset;
}