:root{
    --base-button-color: white;
    --base-button-border-color: unset;
    --base-button-radius: 7px;
    --base-button-min-width: 100px;
    --xxl-font-size: 2rem;
    --xl-font-size: 1.5rem;
    --base-property-colored: #E41655;
    --base-shadow: 0 10px 24px 1px rgba(228,22,85,.3);
}

.button-basic {
    padding: 7px 12px;
    background-color: #E41655;
    color: var(--base-button-color);
    border-radius: var(--base-button-radius);
    border: var(--base-button-border-color);
    min-width: var(--base-button-min-width);
    box-shadow: var(--base-shadow);
}

.xxl-header {
    font-size: var(--xxl-font-size);
}

.xl-header {
    font-size: var(--xl-font-size);
}

.colored {
    color: var(--base-property-colored);
}

.line {
    display: var(--base-position-flex);
    align-items: var(--base-position-flex-vertical);
}

.col {
    display: var(--base-position-flex);
    flex-direction: var(--base-position-direction);
    align-items: var(--base-position-flex-vertical);
}

.subtext {
    color: rgb(204, 204, 204);
    font-size: 0.85rem
}