:root {
    --base-global-padding-top: 25px;
    --base-global-padding-bottom: 50px;
    --base-position-flex: flex;
    --base-position-direction: column;
    --base-position-flex-vertical: center;
    --base-position-flex-horizontal: flex-start;
    --spaced-position-flex-horizontal: space-around;
    --base-home-width: 100vh;
    --base-home-background: url("../content/bg-lines.png");
}

.home-section {
    /*padding-top: var(--base-global-padding-top);*/
    /*padding-bottom: var(--base-global-padding-bottom);*/
    display: var(--base-position-flex);
    flex-direction: var(--base-position-direction);
    align-items: var(--base-position-flex-vertical);
    justify-content: var(--base-position-flex-horizontal);
    min-height: var(--base-home-width);
    background-image: var(--base-home-background);
    background-repeat: repeat-y;
    background-size: contain;
}

.homepage-section {
    display: var(--base-position-flex);
    flex-direction: var(--base-position-direction);
    width: var(--base-object-width);
    margin-top: 50px;
    border: 1px solid black;
    max-width: var(--base-object-max-width);
}