@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "/node_modules/react-image-gallery/styles/css/image-gallery.css";

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

::selection {
    background-color: #fff2b7;
}

button:hover {
    cursor: pointer;
}